html, body

{
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    background-color: #1e2433;
    color: white;
}
.header{
    font-size: 40px;
    padding: 10px 30px;
    font-weight: bold;
    /* background:  */
}

.svg
{
    border: 1px solid;
    margin-top: 4px;
    margin-left: 4px;
    cursor: default;
}
.circle:hover 
{
    cursor: move;
    stroke: lightblue;
    fill: lightblue;
}
.drawing-container
{
    display: flex;
    /* outline: 1px solid black; */
    flex-direction: row;

}
.drawing-panel{
    width : 150px;
    display: flex;
    flex-direction: column;
}
.generating-panel{
    width : 100px;
    display: flex;
    flex-direction: column;

}
.layer {
    align-items: vertical;
}

.path-selection 
{
    outline: 1px solid blue;
}
.svg{
    background: white;
    border: 1px solid black;
}
.svg-container {
    background-color: #384052;
    padding: 30px;
}
.thumbnail-container
{
    padding: 10px;
    background-color: #1e2433;;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.selected-element {
    background-color: #384052;
}
.thumbnail-container:hover 
{
    background-color: #384052;
    
}

button {
    font-size: 20px;
    height: 40px;
    margin: 5px 10px;
    Background-color: gray;
    color: white;
    border: gray;
    border-radius:5px;
  }
button:hover{
    Background-color: lightgray;

}
